#parallax
	
	.layer(data-depth="0.6")
		.some-space
			h1 PARALLAX
		
	.layer(data-depth="0.4")
		#particles-js
		
	.layer(data-depth="0.3")
		.some-more-space
			a(href="https://codepen.io/dominickolbe" target="_blank") is it cool ?