{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang=en xmlns=http://www.w3.org/1999/html>
<head>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>About</title>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, height=device-height, initial-scale=1.0">
<meta http-equiv=X-UA-Compatible content="IE=edge">
<link rel=icon href="{% static '/images/title-img.png' %}" type=image/x-icon>
<link rel=stylesheet type=text/css href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
<link rel=stylesheet href="{% static '/css/bootstrap.css' %}">
<link rel=stylesheet href="{% static '/css/fonts.css' %}">
<link rel=stylesheet href="{% static '/css/style.css' %}">
<link rel=stylesheet href="{% static '/css/styledrop.css' %}">
<link rel=stylesheet type=text/css href="{% static '/css/stylefooter.css' %}">
<style>.ie-panel{display:none;background:#212121;padding:10px 0;box-shadow:3px 3px 5px 0 rgba(0,0,0,.3);clear:both;text-align:center;position:relative;z-index:1}html.ie-10 .ie-panel,html.lt-ie-10 .ie-panel{display:block}</style>
</head>
<body style=background-color:black>
<div class="preloader"style="background-color: black">
<div class=preloader-body>
<div class=cssload-container>
<div class><img src="{% static '/images/mainpreloader.gif' %}"style="height: 150px;margin-top: -80px;"></div>
</div>
</div>
</div>
<div class=page>
<div class=rd-navbar-wrap>
<nav class="rd-navbar rd-navbar-wide" data-layout=rd-navbar-fixed data-sm-layout=rd-navbar-fixed data-md-layout=rd-navbar-fixed data-md-device-layout=rd-navbar-fixed data-lg-layout=rd-navbar-static data-lg-device-layout=rd-navbar-static data-xl-layout=rd-navbar-static data-xl-device-layout=rd-navbar-static data-lg-stick-up-offset=46px data-xl-stick-up-offset=46px data-xxl-stick-up-offset=46px data-lg-stick-up=true data-xl-stick-up=true data-xxl-stick-up=true>
<div class=rd-navbar-main-outer>
<div class=rd-navbar-main>
<div class=rd-navbar-panel>
<button class=rd-navbar-toggle data-rd-navbar-toggle=.rd-navbar-nav-wrap style=position:fixed;right:0><span></span></button>
<div class=rd-navbar-brand><a class=brand href=/><img class=brand-logo-dark img style=height:64px;width:115px;padding-bottom:8px;position:fixed;top:2px;left:25px src="{% static '/images/navlogo1.gif' %}"/></a>
</div>
</div>
<div class=rd-navbar-nav-wrap>
<ul class=rd-navbar-nav>
<li class=rd-nav-item><h6 style=margin-top:-10px><a class="rd-nav-link active" href=/about>About</a></h6>
</li>
<li class=rd-nav-item><h6 style=margin-top:-10px><a class=rd-nav-link href=/product>Product</a></h6>
</li>
<li class=rd-nav-item><h6 style=margin-top:-10px><a class=rd-nav-link href=/buy>Buy <i class="fa fa-shopping-cart" style=font-size:14px;color:#ffffff></i></a></h6>
</li>
 {% if user.is_authenticated %}
    <li class="rd-nav-item"><h6 style="margin-top:-10px"><a class="rd-nav-link" href="/ui">Hello, {{user.first_name}}</a></h6>
</li>
    {% else %}
    <li class="rd-nav-item"><h6 style="margin-top:-10px"><a class="rd-nav-link" href="/userlogin">USER</a></h6>
</li>
    {% endif %}
</ul>
</div>
</div>
</div>
</nav>
</div>
<section class="breadcrumbs-custom bg-image context-dark" style="background-image:url({% static '/images/bg0.jpg' %})">
<div class=container style=height:300px>
<h1 style=margin-top:250px>About Us</h1><br/>
<h3>Creating a new future...</h3>
</div>
</section>
<section class="section section-xl-custom image-section section-lined" style=background-color:#090909 ;>
<div class=container>
<div class=row>
<div class=col-12>
<h2 class=text-center style=color:#00aced;margin-top:-40px>GenOrion</h2><br/>
<center><p style=margin-top:-15px;margin-bottom:50px;text-align-all:justify;text-align:center><p style=color:#fff;font-size:16px>GenOrion is founded by three automation enthusiasts in 2020.<br/>
Working towards the automation of Home, Offices and Automobiles completely<br/> based on Indian technology under the Make In India intiative.<br/><br/>
We are a Delhi based company located in Dwarka, New Delhi,<br/> with the aim to provide affordable automation products to our customers<br/> with the multiple options available for customization.<br/><br/></p></p>
</center>
</div>
</div>
</div>
</section>
<section class="section section-xl-custom image-section section-lined">
<div class>
<div class=row>
<div class=col-md-4></div>
<div class=col-md-4></div>
<div class=col-md-4></div>
</div>
</div>
<div class=container>
<div class=row>
<div class="col-md-7 col-lg-6">
<h3 style=padding-left:2%;color:#00aced><center><b>WHAT MATTERS TO US?</b></center></h3>
<div class="big big-custom" style=padding-left:5%;color:#fff;text-transform:uppercase><center>Security &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static '/images/wmsi.png' %}"style="height: 25px;"></center></div>
<div class="big big-custom" style=padding-left:2%;color:white;text-transform:uppercase><center>Affordability &nbsp;&nbsp;&nbsp;<img src="{% static '/images/wmsii.png' %}"style="height: 40px;"></center></div>
<div class="big big-custom" style=padding-left:2%;color:white;text-transform:uppercase><center>Compatability &nbsp;&nbsp;<img src="{% static '/images/wmsiii.png' %}"style="height: 35px;"></center></div>
<div class="big big-custom" style=padding-left:2%;color:white;text-transform:uppercase><center>Upgradability &nbsp;&nbsp;<img src="{% static '/images/wmsiv.png' %}"style="height: 35px;"></center></div>
<p style=padding-left:2%;color:white;text-align:justify;font-size:16px>We are launching our initial range of products to provide a solution for Security and Accessibility through Automation.
Nowadays, the prime concern of our society is security and there are many solutions available in the market for the same, but they are not in reach of common people as they are way too expensive or their features are very limited.
On the other hand, Genorion is providing complete Automation Solutions in an affordale price range, having a number of unique features in it.
</p>
</div>
</div>
</div>
<div class=image-container>
<div class=mock-up-2>
<div class="object object-1"><img class="wow fadeInRight" src="{% static '/images/wms6.png' %}" alt data-wow-delay=.6s />
</div>
<div class="object object-2"><img class="wow fadeInRight" src="{% static '/images/wms3.png' %}" alt data-wow-delay=.3s />
</div>
<div class="object object-3"><img class="wow fadeInRight" src="{% static '/images/wms1.png' %}" alt data-wow-delay=1.2s />
</div>
<div class="object object-4"><img class="wow fadeInRight" src="{% static '/images/wms4.png' %}" alt data-wow-delay=.3s />
</div>
<div class="object object-5"><img class="wow fadeInRight" src="{% static '/images/wms2.png' %}" alt data-wow-delay=.6s />
</div>
<div class="object object-6"><img class="wow fadeInRight" src="{% static '/images/wms5.png' %}" alt data-wow-delay=".3s"/>
</div>
<div class="object object-7"><img class="wow fadeInRight" src="{% static '/images/wms7.png' %}" alt data-wow-delay=.9s />
</div>
<div class="object object-8"><img class="wow fadeInRight" src="{% static '/images/wms8.png' %}" alt data-wow-delay=.9s />
</div>
<div class="object object-9"><img class="wow fadeInRight" src="{% static '/images/wms9.png' %}" alt data-wow-delay=.9s />
</div>
</div>
</div>
</section>
<section class="section section-xl-custom image-section section-lined" style=background-color:#0a0a0a ;>
<div class=container>
<div class=row>
<div class=col-12>
<h2 class=text-center style=color:#00aced>What we do?</h2><br/>
<center><p style=margin-top:5px;margin-bottom:50px;font-size:16px;color:#ffffff><b>We provide Automation Solutions for Residential as well as Commercial spaces.<br/>Designed in a way that gives you a smarter way of Life!</b><br/>
<h3 style=color:#00aced>GENORION : SECURITY ~ COMFORT ~ ACCESSIBILITY</h3><br/>
<b style=color:#fff;font-size:16px>You can customize your place as per your choice or requirements<br/> on Genorion's app and can access it virtually from anywhere in the world.
</b></p>
</center>
</div>
</div>
</div>
</section>
<section class="section section-xl-custom image-section section-lined" style=background-color:#000000 ;>
<div class=container>
<div class=row>
<div class=col-12>
<h2 class=text-center style=color:#00aced>How it is done?</h2><br/>
<center><p style=font-size:16px;margin-top:5px;margin-bottom:50px;color:white><b>Our product (Gen M/Gen S) can be installed within few minutes at any place where switching system/board is available.<br/> It will start working soon after installation and convert your space to a new smart space.</b><br/>
<h3 style=color:#00aced;margin-top:-12px>STAY SAFE, STAY CONNECTED AND ALWAYS UPDATED!</h3>
<br/></p>
</center>
<section class="section bg-gray-700 context-dark section-relative" style=background-color:#000000 ;>
<div class=container>
<div class=row>
<div class="col-md-5 text-block-1 wow fadeInLeft">
<div class="section-sm section-sm-3">
<h3 style=padding-left:2%;color:#00aced><center><b>3 STEP SOLUTION</b></center></h3>
<ul class="list-inline list-inline-sm-1"style="text-align: center;">
<li>
<a href=/buy><h5 style=color:#00aced>Buy &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"style="color: #f30a0a;font-size: 35px;"></i></h5><br/></a>
<h5 style=color:#00aced>Install &nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static '/images/about1i.png' %}"style="height: 40px;"></h5><br/>
<h5 style=color:#00aced>Control &nbsp;<img src="{% static '/images/about2ii.png' %}"style="height: 40px;"></h5><br/>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class=swiper-section>
<div class="swiper-container swiper-slider swiper-slider-1" data-next=.custom-swiper-button-next data-prev=.custom-swiper-button-prev data-loop=true>
<div class=swiper-wrapper>
<div class=swiper-slide data-slide-bg="{% static '/images/about1.png' %}" style=height:90%;width:315px></div>
<div class=swiper-slide data-slide-bg="{% static '/images/about2.png' %}"style="height: 90%;width: 315px;"></div>
<div class=swiper-slide data-slide-bg="{% static '/images/about3.png' %}"style="height: 90%;width: 315px;"></div>
</div>
<div class=swiper-pagination></div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
<section class="section section-xl-custom image-section section-lined" style=background-color:#000000 ;>
<div class=container>
<div class=row>
<div class=col-12>
<h2 class=text-center style=padding-bottom:40px;color:#00aced>Have A Look ...</h2><br/>
<div style=text-align:center>
<iframe width=360 height=250 style=margin-right:10px;margin-bottom:10px src=https://www.youtube.com/embed/jwZc-jdvh8o frameborder=2 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width=360 height=250 style=margin-right:10px;margin-bottom:10px src=https://www.youtube.com/embed/qvw50t15OHw frameborder=2 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width=360 height=250 style=margin-bottom:10px src=https://www.youtube.com/embed/tiP2vIhdSFk frameborder=2 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
</section>
<section class="section section-md bg-default" style=background-color:#000000 ;>
<div class=container>
<h4 style=color:#00aced>Get in touch with us</h4>
<p class=big style=color:white>Leave us a message.</p>
<form class="rd-form rd-mailform form-boxed" data-form-output=form-output-global data-form-type=contact method=post action="{% static '/bat/rd-mailform.php' %}" style=background-color:#c8d6ea ;>
<div class="row row-50">
<div class=col-lg-4>
<div class="form-wrap form-wrap-icon">
<div class="form-icon mdi mdi-account-outline"></div>
<input class=form-input id=contact-name type=text name=name data-constraints=@Required>
<label class=form-label for=contact-name>Name</label>
</div>
</div>
<div class=col-lg-4>
<div class="form-wrap form-wrap-icon">
<div class="form-icon mdi mdi-email-outline"></div>
<input class=form-input id=contact-email type=email name=email data-constraints="@Email @Required">
<label class=form-label for=contact-email>E-mail</label>
</div>
</div>
<div class=col-lg-4>
<div class="form-wrap form-wrap-icon">
<div class="form-icon mdi mdi-phone"></div>
<input class=form-input id=contact-phone type=text name=phone data-constraints=@Numeric>
<label class=form-label for=contact-phone>Phone</label>
</div>
</div>
<div class=col-12>
<div class="form-wrap form-wrap-icon">
<div class="form-icon mdi mdi-message-outline"></div>
<label class=form-label for=contact-message>Message</label>
<textarea class=form-input id=contact-message name=message data-constraints=@Required></textarea>
</div>
</div>
<div class=col-md-12>
<button class="button button-default" type=submit>Send</button>
</div>
</div>
</form>
</div>
</section>
<div class="pre-footer-classic bg-gray-700 context-dark">
<div class=container style=text-align:center>
<div class="row row-30 justify-content-lg-between">
<div class="col-sm-6 col-lg-3 col-xl-3">
<a class=rd-nav-link href=/contact><h5>Contact</h5></a></br>
<p style=margin-top:5px>Phone</p>
<p style=color:white><a class=link-default href=tel:#>+91-9911757588 </a><h7 class="icon icon-sm link-default mdi mdi-whatsapp"></h7></br>
<a class=link-default href=tel:#>+91-9716683984 </a><h7 class="icon icon-sm link-default mdi mdi-whatsapp"></h7>
<a class=link-default href=tel:#>+44-7587583357 </a><h7 class="icon icon-sm link-default mdi mdi-whatsapp"></h7></p>
<p>Email</p>
<p style=color:white><a class=link-default href=mailto:#>contact@genorion.com</a></p>
<div style=padding-left:0><a class=link-default href=/contact><button class="button button-default button-invariable" type=submit style=padding-left:50px>Ask Your Queries</button></a></div>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3">
</li>
<h5>Location</h5>
<ul class="list list-sm">
<p style="margin-bottom:10px">Address</p>
<li>
<a href="https://www.google.com/maps/place/GenOrion+(SpaceStation+Automation+pvt.+ltd)/@28.6192046,77.0259233,18z/data=!4m5!3m4!1s0x390d0526a85df8b9:0x19dd87f58dd3d9ca!8m2!3d28.6192964!4d77.0264785" target="_blank">
<p style="color:#ffffff">593, 3rd Floor, Dwarka mor,</p>
</li>
<li>
<p style="color:#ffffff">opp. - Metro pillar-803,</p>
</li>
<li>
<p style="color:#ffffff">New Delhi - 110078,</p>
</li>
<li>
<p style="color:#ffffff">India&nbsp;<i class="fa fa-map-marker" style="font-size:20px;"></i></p></a>
</li>
</ul>
<ul class="list-inline list-inline-sm">
<li style=padding-left:0><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-facebook" href=https://www.facebook.com/GenOrion-100527345370103 target="_blank"></a></li>
<li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-instagram" href=https://www.instagram.com/genorion_offical/ target="_blank"></a></li>
<li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-youtube-play" href=https://www.youtube.com/channel/UCDVv7CADRQXBczpJZ0_IXUQ target="_blank"></a></li>
<li style=padding-left:0><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-twitter" href=https://twitter.com/GENORION1 target="_blank"></a></li>
<li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-linkedin" href=https://www.linkedin.com/company/genorion1 target="_blank"></a></li>
</ul>
</div>
<div class=col-lg-4 align=center>
<h5>Connect to our partners</h5>
<div class=text-center>
<a href="https://spaceorion.com/" target="_blank"><img src="{% static '/images/spo.png' %}" alt style="height:70px;margin-top:3px;border-radius:50%;"/ target="_blank"></a><br/>
<a href="https://www.funcinfo.com/" target="_blank"><img src="{% static '/images/FuncInfo.png' %}" alt="" style="height:25px;margin-top:36px;border-radius:0%;"/ target="_blank"></a></br>
<a href="https://www.xilirprojects.com/" target="_blank"><img src="{% static '/images/footerxilir.png' %}" alt="" style="height:70px;margin-top:36px;border-radius:50%;"/ target="_blank"></a>
</div>
<div class=button-wrap>
</div>
</div>
</div>
</div>
</div>
</div>
<footer class="section footer-classic context-dark text-center">
<div class=container>
<div class="row row-15 justify-content-lg-between">
<div class="col-lg-6 col-xl-6 text-lg-left">
<ul class="list-inline list-inline-lg text-uppercase" style=margin-top:10px>
<li><a href=/about>About us</a></li>
<li><a href=/ourteam>Our Team</a></li>
<li><a href=/join>Careers</a></li>
</ul>
</div>
<div class="col-lg-6 col-xl-6">
<span style=color:#ffffff!important>COPYRIGHT © 2020 SPACESTATION AUTOMATION PVT. LTD. - ALL RIGHTS RESERVED.</span>
</div>
</div>
</div>
</footer>
</div>
<div class=snackbars id=form-output-global></div>
<script src="{% static '/js/core.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
</body>
</html>