{% extends 'all.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html class="wide wow-animation" lang=en>
<head>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>Home</title>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, height=device-height, initial-scale=1.0">
<meta http-equiv=X-UA-Compatible content="IE=edge">
<link rel=stylesheet href=https://unpkg.com/aos@next/dist/aos.css />
<link rel=icon href="{% static '/images/title-img.png' %}" type=image/x-icon>
<link rel=stylesheet type=text/css href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
<link rel=stylesheet href="{% static '/css/bootstrap.css' %}">
<link rel=stylesheet href="{% static '/css/fonts.css' %}">
<link rel=stylesheet href="{% static '/css/style.css' %}">
<link rel=stylesheet href="{% static '/css/style1.css' %}">
<link rel=stylesheet href="{% static '/css/styledrop.css' %}">
<link rel=stylesheet href="{% static '/css/top.css' %}">
<style>.ie-panel{display:none;background:#212121;padding:10px 0;box-shadow:3px 3px 5px 0 rgba(0,0,0,.3);clear:both;text-align:center;position:relative;z-index:1}html.ie-10 .ie-panel,html.lt-ie-10 .ie-panel{display:block}</style>
</head>
<body style=background-color:#03090e>
<div class="preloader"style="background-color: black">
<div class=preloader-body>
<div class=cssload-container>
<div class><img src="{% static '/images/mainpreloader.gif' %}"style="height: 150px;margin-top: -80px;">
</div>
</div>
</div>
</div>
<div class=page>
<section class="section context-dark bg-image bg-mask bg-mask-2 section-fullheight section-90vh" style="background-image:url({% static '/images/bg17.jpg' %})">
<div class="section-fullheight-inner section-md">
<div class=container style=height:470px>
<div class=row>
<div class="col-md-8 col-xl-6 text-center text-md-left">
<div class="jumbotron-custom wow fadeInRight">
<div class=title style=color:#1690e5;text-align:center;margin-top:70px>GenOrion</div></br>
<center><h6 class=big style=color:#fff;padding-left:0;font-size:22px>Enhancing Security & Comfort</h6></center>
</div>
</div>
</div>
</div>
</div>
</section>
<section>
<div class=photo>
<img src="{% static '/images/home3.gif' %}"/>
</div>
</section>
<section class="section section-xl-custom image-section section-lined" style=background-color:#151111 ;>
<div class>
<div class=row>
<div class=col-md-4></div>
<div class=col-md-4></div>
<div class=col-md-4></div>
</div>
</div>
<div class=container>
<div class="row"style="margin-right: 12px;">
<div class="col-md-7 col-lg-6">
<h3 style=padding-left:2%;margin-top:-9%;color:white>Gen-M / Gen-S</h3>
<div class="big big-custom"><b><h4 style=padding-left:2%;color:#00aced;font-size:33px>AUTOMATION SYSTEMS</h4></b></div>
<p style=padding-left:2%;text-align:justify;color:#fff>Our series of gadgets can be installed in any residential & commercial space making it one standalone device for everyone. Very soon, other devices will be available for the automobile and industrial use making it fully versatile system capable of controlling all the automation needs virtually from anywhere with genorion’s app/website only.<br/><br/>
This will ensure the security & making the system highly robust. The system will provide continuous notification either via app, sms or call for continuous connectivity.<br/><br/>
It will also include free of cost on the air updates for both software & hardware upgrades (plug & play devices).</p><br/>
</div>
</div>
</div>
<div class=image-container style=size:A4>
<div class=mock-up-1>
<div class="object object-2"><img class="wow fadeInRight" src="{% static '/images/EP 3.gif' %}" alt width=384 height=189 data-wow-delay="0.4s"style="height: 177px;"/>
</div>
<div class="object object-3"><img class="wow fadeInRight" src="{% static '/images/EP 5.png' %}" alt width=450 height=243 data-wow-delay="0.6s"/>
</div>
<div class="object object-4"><img class="wow fadeInRight" src="{% static '/images/EP 4.gif' %}" alt width=300 height=184 data-wow-delay="0.8s"/>
</div>
<div class="object object-5"><img class="wow fadeInRight" src="{% static '/images/EP 2.jpg' %}" alt width=395 height=243 data-wow-delay="1s"/>
</div>
</div>
</div>
</section>
<div class="row11 tm-gallery"style="margin-top: 40px;">
<div id=tm-gallery-page-pizza class=tm-gallery-page>
<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
<div class=zoom>
<figure>
<img src="{% static '/images/homeg1.jpg' %}" alt=Image class="img-fluid tm-gallery-img"style="width: 250px;margin-left: -24px;" />
<figcaption>
<h4 class="tm-gallery-title"style="text-align: center;">Notifications</h4>
<p class=tm-gallery-description>Get notifed about each & every activity related to your home & workplace via app notifications, calls & SMS. We will keep you updated & connected.</p>
</figcaption>
</figure>
</div>
</article>
<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
<div class=zoom>
<figure>
<img src="{% static '/images/homeg2.jpg' %}" alt=Image class="img-fluid tm-gallery-img"style="width: 250px;margin-left: -24px;" />
<figcaption>
<h4 class="tm-gallery-title"style="text-align: center;">Security</h4>
<p class=tm-gallery-description>Let the Genorion take care of your security. Making your place highly secure with continuous notifications even when the power system fails at your place.</p>
</figcaption>
</figure>
</div>
</article>
<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
<div class=zoom>
<figure>
<img src="{% static '/images/homeg3.jpg' %}" alt=Image class="img-fluid tm-gallery-img"style="width: 250px;margin-left: -24px;" />
<figcaption>
<h4 class="tm-gallery-title"style="text-align: center;">Scheduling</h4>
<p class=tm-gallery-description>With smart scheduling feature, schedule your device activities & multiple tasks. Stop worring about missing anything important & switching off your device later.</p>
</figcaption>
</figure>
</div>
</article>
<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
<div class=zoom>
<figure>
<img src="{% static '/images/homeg4.jpg' %}" alt=Image class="img-fluid tm-gallery-img"style="width: 250px;margin-left: -24px;" />
<figcaption>
<h4 class="tm-gallery-title"style="text-align: center;">12 Switch Control</h4>
<p class=tm-gallery-description>Control upto 12 devices, including 8 switches of 10A,<br/> 1 power switch of 15A and<br/> 3 dimming/speed control switches.</p>
</figcaption>
</figure>
</div>
</article>
<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
<div class=zoom>
<figure>
<img src="{% static '/images/homeg6.jpg' %}" alt=Image class="img-fluid tm-gallery-img"style="width: 250px;margin-left: -24px;" />
<figcaption>
<h4 class="tm-gallery-title"style="text-align: center;">Sensors & control</h4>
<p class=tm-gallery-description>For added security & control humidity, temperature, LPG, smoke & fire sensors are added in the module. Able to send alerts incase it detects any hazard. Added light sensor will optimize room lightning accordingly.</p>
</figcaption>
</figure>
</div>
</article>
<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
<div class=zoom>
<figure>
<img src="{% static '/images/homeg5.jpg' %}" alt=Image class="img-fluid tm-gallery-img"style="width: 250px;margin-left: -24px;" />
<figcaption>
<h4 class="tm-gallery-title"style="text-align: center;">Customization</h4>
<p class=tm-gallery-description>Get Customized modules depending on your need. Available between 4 to 12 switches per module. Select the variant according to your requirement.</p>
</figcaption>
</figure>
</div>
</article>
<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
<div class=zoom>
<figure>
<img src="{% static '/images/homeg7.jpg' %}" alt=Image class="img-fluid tm-gallery-img"style="width: 250px;margin-left: -24px;" />
<figcaption>
<h4 class=tm-gallery-title style=text-align:center>IR blaster</h4>
<p class=tm-gallery-description>Now control your IR based devices with the help of Genorion's app. IR blaster will help in remotely controlling the devices which are normally controlled by key presses.</p>
</figcaption>
</figure>
</div>
</article>
<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
<div class=zoom>
<figure>
<img src="{% static '/images/homeg8.jpg' %}" alt=Image class="img-fluid tm-gallery-img"style="width: 250px;margin-left: -24px;" />
<figcaption>
<h4 class="tm-gallery-title"style="text-align: center;">Admin & Multi-user support</h4>
<p class=tm-gallery-description>The owner can share the access to multiple users as the sub-admins or temporary users for some specific controls.</p>
</figcaption>
</figure>
</div>
</article>
</div>
</div>
<section class="section section-lg bg-default section-lined" style=background-color:#020101>
<div class>
<div class=row>
<div class=col-md-4></div>
<div class=col-md-4></div>
<div class=col-md-4></div>
</div>
</div>
<div class=container>
<div class="row row-30 align-items-center">
<div class="col-sm-12 col-lg-4">
<center><h3><b style=color:#1690e5>Recognitions</b></h3></center>
</div>
<div class="col-sm-6 col-lg-4">
<div class="big block-1-custom" style=text-align:justify;margin-left:35px>As an envigorate automation startup we have garnered a number of recognitions from the government of INDIA.</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class=block-2-custom>
<div class=counter-minimal>
<div class=counter-left>
<div class=counter style=color:white>4</div>
</div>
<div class=counter-right>
<div class=postfix style=color:white>+</div>
<div class="title"style="color: white">Accreditations</div>
</div>
</div>
</div>
</div>
</div>
<div class="box-border-wrap-1 wow fadeInUp" data-wow-delay=.2s>
<div class="row"style="background-color: #ffffff"><h class="col-6 col-md-4 box-border" href=#>
<div class>ISO:9001:2015</div> <div class=zoom><a href="https://drive.google.com/file/d/1k7RdoldvQNs_bHBnKeptQ773Mqs_qVw0/view?usp=sharing"  target="_blank"><img src="{% static '/images/award2.png' %}" alt style="height:390px;width:300px"/></a></div></h><h class="col-6 col-md-4 box-border" href=#>
<div class>Startup India</div> <div class=zoom><a href="https://drive.google.com/file/d/1k7RdoldvQNs_bHBnKeptQ773Mqs_qVw0/view?usp=sharing"  target="_blank"><img src="{% static '/images/award1.png' %}" alt style="height:264px;width:375px"/></a></div></h><h class="col-6 col-md-4 box-border" href=#>
<div class>MSME</div> <div class=zoom><a href="https://drive.google.com/file/d/1k7RdoldvQNs_bHBnKeptQ773Mqs_qVw0/view?usp=sharing"  target="_blank"><img src="{% static '/images/award3.png' %}" alt style="height:390px;width:300px"/></a></div></h><h class="col-6 col-md-4 box-border" href=#></h></div>
</div>
</div>
</section>
<section class="section section-lg bg-gray-100 section-lined"style="background-color: #0d0c0c">
<div class>
<div class=row>
<div class=col-md-4></div>
<div class=col-md-4></div>
<div class=col-md-4></div>
</div>
</div>
<div class=container>
<h3 style=padding-left:18%><b style=color:#00aced;margin-left:-20px>Mentors & Founders</b></h3>
<div class="row row-40 justify-content-between">
<div class="col-lg-7 col-xl-8">
<div class="row no-gutters">
<div class="col-sm-6 wow fadeInLeft">
<div class="box-team box-team-right"><a href=https://www.linkedin.com/in/elangovan-rajagopalan-857b5a68/  target="_blank"><img src="{% static '/images/mentor01.jpg' %}" alt style="width:390px;height:332px;padding-left:30px;padding-top:10px;padding-bottom:10px;padding-right:30px;border:4px solid #fff;background-color:#fff"/></a>
<div class=meta>
<div class="heading-6 title" style=text-align:start;color:#00aced>Prof. Elangovan Rajagopala</div>
<p class=position style=text-align:start;color:#00aced>Mentor</p>
</div>
</div>
</div>
<div class="col-sm-6 wow fadeInRight">
<div class="box-team box-team-right"><a href=https://www.linkedin.com/in/neetu-singh-63b68024/  target="_blank"><img src="{% static '/images/mentor02.jpg' %}" alt style="width:390px;height:332px;padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;border:4px solid #fff;background-color:#fff"/></a>
<div class=meta>
<div class="heading-6 title" style=text-align:start;color:#00aced>Prof. Neetu Singh</div>
<p class=position style=text-align:start;color:#00aced>Mentor</p>
</div>
</div>
</div>
<div class="col-sm-6 wow fadeInLeft" data-wow-delay=0.2s>
<div class="box-team box-team-right"><a href=https://www.linkedin.com/in/ankitgupta27/  target="_blank"><img src="{% static '/images/mentor003.jpg' %}" alt style="width:390px;height:332px;padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;border:4px solid #fff;background-color:#fff"/></a>
<div class=meta>
<div class="heading-6 title" style=text-align:start;color:#00aced>Ankit Gupta</div>
<p class=position style=text-align:start;color:#00aced>Founder & Director</p>
</div>
</div>
</div>
<div class="col-sm-6 wow fadeInRight" data-wow-delay=0.2s>
<div class="box-team box-team-right"><a href=https://www.linkedin.com/in/princy-gupta-1509/  target="_blank"><img src="{% static '/images/mentor04.jpg' %}" alt style="width:390px;height:332px;padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;border:4px solid #fff;background-color:#fff"/></a>
<div class=meta>
<div class="heading-6 title" style=text-align:start;color:#00aced>Princy Gupta</div>
<p class=position style=text-align:start;color:#00aced>Founder & Management head</p>
</div>
</div>
</div>
<div class="col-sm-6 wow fadeInLeft" data-wow-delay=0.2s>
<div class="box-team box-team-right"><a href=https://www.linkedin.com/in/ankush-koli-0a500a178/  target="_blank"><img src="{% static '/images/mentor005.png' %}" alt style="width:390px;height:332px;padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;border:4px solid #fff;background-color:#fff"/></a>
<div class=meta>
<div class="heading-6 title" style=text-align:start;color:#00aced>Ankush Koli</div>
<p class=position style=text-align:start;color:#00aced>Software & Content Head</p>
</div>
</div>
</div>
<div class="col-sm-6 wow fadeInRight" data-wow-delay=0.2s>
<div class="box-team box-team-right"><a href=https://www.linkedin.com/in/prashant-gautam-ba3775131/ target="_blank"><img src="{% static '/images/team-prashant.png' %}" alt style="width:390px;height:332px;padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;border:4px solid #fff;background-color:#fff"/></a>
<div class=meta>
<div class="heading-6 title" style=text-align:start;color:#00aced>Prashant Gautam</div>
<p class=position style=text-align:start;color:#00aced>Designing Head</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-5 col-xl-4">
<div class="row row-30 row-xxl-55 justify-content-end">
<div class="col-sm-6 col-lg-9 col-xl-10 text-lg-right">
<h3 style=padding-right:30%;color:#00aced>Team</h3>
<div class=big-text style=text-align:start;margin-left:50px;color:white>We are a dedicated team of engineers and MBAs specialising in Embedded systems, Automation, Web design, Development and Marketing. Always ready to help you.</div>
<div class="divider divider-2 d-none d-lg-block"></div>
</div>
<div class="col-sm-6 col-lg-8 col-xl-7">
<div class=counter-minimal>
<div class=counter-left>
<div class="counter"style="color: white">10</div>
</div>
<div class=counter-right>
<div class=postfix style=color:white>+</div>
<div class="title"style="color: white">team members</div>
</div>
</div>
<ul class="list-marked list-marked-big" style=color:white>
<li>7+ exceptional full-time professionals.</li>
<li>A team specialising in mechatronics system engineering.</li>
<li>Creative team with a goal to shape the world.</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<a href=/ourteam><img src="{% static '/images/mentor06.png' %}"<a style="padding-left:18%;height:20%"</a>
</section>
{% endblock %}
</div>
<div class=snackbars id=form-output-global></div>
<script src="{% static '/js/core.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
<!-- <script>
    function autoRefresh() {
        window.location = window.location.href;
    }
    setInterval('autoRefresh()', 2000);
</script> -->
</body>
</html>