{% extends 'all.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html class="wide wow-animation" lang=en>
<head>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>Team</title>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, height=device-height, initial-scale=1.0">
<meta http-equiv=X-UA-Compatible content="IE=edge">
<link rel=icon href="{% static '/images/title-img.png' %}" type=image/x-icon>
<link rel=stylesheet type=text/css href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
<link rel=stylesheet href="{% static '/css/bootstrap.css' %}">
<link rel=stylesheet href="{% static '/css/fonts.css' %}">
<link rel=stylesheet href="{% static '/css/style.css' %}">
<link rel=stylesheet href="{% static '/css/styledrop.css' %}">
<link rel=stylesheet type=text/css href="{% static '/css/stylefooter.css' %}">
<style>.ie-panel{display:none;background:#212121;padding:10px 0;box-shadow:3px 3px 5px 0 rgba(0,0,0,.3);clear:both;text-align:center;position:relative;z-index:1}html.ie-10 .ie-panel,html.lt-ie-10 .ie-panel{display:block}</style>
</head>
<body style=background-color:black>
<div class="preloader"style="background-color: black">
<div class=preloader-body>
<div class=cssload-container>
<div class><img src="{% static '/images/mainpreloader.gif' %}"style="height: 150px;margin-top: -80px;"></div>
</div>
</div>
</div>
<div class=page>
<section class="breadcrumbs-custom bg-image context-dark" style="background-image:url({% static '/images/backgroundteam.jpg' %})">
<div class=container style=height:300px>
<h1 style=margin-top:140px>Our Team</h1><br/>
<h3>Bringing Out The Best In Each Other!</h3>
</div>
</section>
<section class="section section-lg bg-default" style=background-color:black>
<div class=container>
<div class=row>
<div class=col-12>
</div>
</div>
</div>
<div class=container>
<h2 style=text-align:center;color:#00aced;font-weight:400;letter-spacing:4>Our Founders</h2>
<div class="row row-15 row-gutter-14">
<div class="col-sm-5 col-lg-3">
<div class=box-team><a href=https://www.linkedin.com/in/ankitgupta27/ target="_blank"><img src="{% static '/images/mentor003.jpg' %}" alt style="height:320px;margin-left:30px"/></a>
<div class=meta style=background-color:black>
<div class="heading-5 title" align=left style=color:#00aced>Ankit Gupta</div>
<p class=position align=left style=color:#00aced>Founder & Director</p>
<h8 align=left style=color:#00aced>Project Development Head</h8>
</div>
</div>
</div>
<div class="col-sm-5 col-lg-3">
<div class=box-team><a href=https://www.linkedin.com/in/princy-gupta-1509/ target="_blank"><img src="{% static '/images/mentor04.jpg' %}" alt style="height:320px;margin-left:30px"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Princy Gupta</div>
<p class=position align="left"style="color: #00aced">Co-founder</p>
<h8 align="left"style="color: #00aced">Business Management Head</h8>
</div>
</div>
</div>
<div class="col-sm-5 col-lg-3">
<div class=box-team><a href=https://www.linkedin.com/in/ankush-koli-0a500a178/ target="_blank"><img src="{% static '/images/mentor05.png' %}" alt=""style="height: 320px;margin-left: 30px;"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Ankush Koli</div>
<p class=position align="left"style="color: #00aced">Co-founder</p>
<h8 align="left"style="color: #00aced">Content Management Head</h8>
</div>
</div>
</div>
<div class="col-sm-5 col-lg-3">
<div class=box-team><a href=https://www.linkedin.com/in/prashant-gautam-ba3775131/ target="_blank"><img src="{% static '/images/team-prashant.png' %}" alt style="height:320px;margin-left:30px"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Prashant Gautam</div>
<p class=position align="left"style="color: #00aced">Co-founder</p>
<p class=position align="left"style="color: #00aced">Designing Head</p>
</div>
</div>
</div>
</div>
</div>
<div class=container>
<h2 style=text-align:center;color:#00aced;font-weight:400;letter-spacing:4>Our Mentors</h2>
<div class="row row-15 row-gutter-14">
<div class="col-sm-6 col-lg-4">
<div class=box-team><a href=https://www.linkedin.com/in/elangovan-rajagopalan-857b5a68/ target="_blank"><img src="{% static '/images/mentor01.jpg' %}" alt=""style="height: 320px;margin-left: 30px;"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Prof. Elangovan Rajagopala</div>
<p class=position align="left"style="color: #00aced">Mentor</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class=box-team><a href=https://www.linkedin.com/in/neetu-singh-63b68024/ target="_blank"><img src="{% static '/images/mentor02.jpg' %}" alt=""style="height: 320px;margin-left: 30px;"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Prof. Neetu Singh</div>
<p class=position align="left"style="color: #00aced">Mentor</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class=box-team><a href=https://www.linkedin.com/in/vipin-kumar-sharma-287185a2/ target="_blank"><img src="{% static '/images/mentor7.jpg' %}" alt=""style="height: 320px;margin-left: 30px;"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Mr. Vipin Sharma</div>
<p class=position align="left"style="color: #00aced">Mentor</p>
</div>
</div>
</div>
</div>
</div>
<div class=container>
<b><h2 style=text-align:center;color:#00aced>Employees and Interns</h2></b>
<div class="row row-15 row-gutter-14">
<div class="col-sm-6 col-lg-4">
<div class=box-team><a href=https://www.linkedin.com/in/sachi-chokhandre/ target="_blank"><img src="{% static '/images/team-sachi.jpg' %}" alt style="height:320px;margin-left:30px"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Sachi</div>
<p class=position align="left"style="color: #00aced">Embedded Systems Engineer</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class=box-team><a href=https://www.linkedin.com/in/akash-gupta-786567192/ target="_blank"><img src="{% static '/images/team-akash.jpg' %}" alt style="height:320px;margin-left:30px"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Akash</div>
<p class=position align="left"style="color: #00aced">App Developer</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class=box-team><a href=https://www.linkedin.com/in/pankaj-palariya-7833b5165/ target="_blank"><img src="{% static '/images/team-pankaj.jpg' %}" alt style="height:320px;margin-left:30px"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Pankaj Palariya</div>
<p class=position align="left"style="color: #00aced">Web Developer</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class=box-team><a href=https://www.linkedin.com/in/tushar-gupta-b09a4b181/ target="_blank"><img src="{% static '/images/team-tushar.png' %}" alt style="height:320px;margin-left:30px"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Tushar Gupta</div>
<p class=position align="left"style="color: #00aced">Avionics and Aerospace Enthusiast</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class=box-team><a href=https://www.linkedin.com/in/prashantnath46/ target="_blank"><img src="{% static '/images/team-prashant.jpg' %}" alt style="height:320px;margin-left:30px"/></a>
<div class="meta"style="background-color: black">
<div class="heading-5 title" align="left"style="color: #00aced">Prashant Nath</div>
<p class=position align="left"style="color: #00aced">Embedded Systems Intern</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
</div>
<div class=snackbars id=form-output-global></div>
<script src="{% static '/js/core.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
</body>
</html>